.container {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to right, rgba(195, 20, 50, 1),
		rgba(36, 11, 54, 1));
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container2 {
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
}

.container3 {
	max-width: 50%;
	margin: 0 auto;
	margin-left: 30%;
	align-content: center;
	justify-content: center;
	display: flex;
	border: 1px solid #ccc;
}

.container4 {
	max-width: 400px;
	margin: 0 auto;
	margin-left: 30%;
	display: flex;
	border: 1px solid #ccc;
}

.box {
	border: 5px solid black;
	width: 60%;
	height: 70%;
	background-image: linear-gradient(to right, rgba(36, 11, 54, 1),
		rgba(195, 20, 50, 1));
}

body {
	margin: 0px;
}

.inputkind1 {
	margin-left: 20%;
	margin-top: 10%;
	width: 300px;
}

.inputkind2 {
	margin-left: 20%;
	margin-top: 3px;
	width: 20%;
	height: 20%;
}

.inputTextArea {
	width: 305px;
	height: 200px;
	margin-left: 20%;
	margin-top: 3px;
}

.btnkindLogin1 {
	background-color: #000C40;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 310px;
	margin: 4px 2px;
	cursor: pointer;
	margin-left: 20%;
}

.displayer {
	display: flex;
	align-content: center;
	text-align: center;
}

.divflex {
	display: flex;
}

.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

.flex-item-1 {
	flex: 1;
}

.row {
	flex-direction: row;
}

.divBotoes {
	margin-top: 10px;
	background-image: linear-gradient(to right, rgba(36, 11, 54, 1),
		rgba(195, 20, 50, 1));
}
.divtop{
	margin-top: 10%;
}
.outputText{
	color: white;
}

.box2 {
	margin-top: 20px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	width: 100%;
	height: 300px;
	background-image: white
}
.corBranca{
	color: white;
	font-size: medium;
	font-weight: bold;
}
.itemmarginleft{
	margin-left: 20%;
	margin-right: 30px;
		color: white;
	
}
.divleft{
	margin-top: 20px;
	margin-left: 15%;
	
}
h3{
	margin-left: 25px;
	margin-right: 25px;
}

.messages{
	color: white;
	font-size: large;
	margin-left: 35%;
}
.comandLink{
	margin-right: 20px;
	color: white;
	font-size: x-large;
}
